.offboard-form {
  padding: 16px 0;
  
  .mat-form-field {
    margin-bottom: 16px;
  }

  .address-group {
    background-color: rgba(0, 0, 0, 0.02);
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 16px;
  }

}
